{% extends 'base.html.twig' %}

{% block title %}Question : {{ question }}{% endblock %}
{% block body %}
<h1>{{ question }}</h1>

{#Ceci est un commentaire#}

<div> notre question ici</div>

<h2>Reponses({{ reponses|length }})</h2>

<ul>
    {% for reponse in reponses  %}
        <li>{{ reponse }}</li>
    {% endfor %}
</ul>

{% endblock %}